* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-top: -150px; /* 向上移动 50px */ 
}




h2 {
    margin-top: -10px; /* 根据需要调整值 */
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: 200;
}



.captcha-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

#captcha-input {
    padding: 10px;
    font-size: 16px;
    width: 260px;
    border: 2px solid #cccccc;
}

#captcha-canvas {
    border: 2px solid #0011ff;
}

#submit-button {
    background-color: #4d90fe;
    color: white;
    padding: 12px 110px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

#submit-button:hover {
    background-color: #3578e5;
}
